.task-wrapper {
    position: relative;

    margin: 3px 10px 10px 3px;
    min-width: 150px;
    padding: 10px;

    background: grey;
    color: white;
    box-shadow: 5px 5px 5px -4px lightgrey;

    border-radius: 10px;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    background: white;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;

    flex-wrap: nowrap;
    overflow-x: auto;
}

.column-wrapper {
    flex: 0 0 auto;
    width: 250px;
    height: 100%;
}

.column-droppable-area {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow: scroll;
}

.board-wrapper {

}