.task-wrapper {
    position: relative;

    margin: 3px 10px 10px 3px;
    min-width: 150px;
    padding: 10px;

    background: grey;
    color: white;
    box-shadow: 5px 5px 5px -4px lightgrey;

    border-radius: 10px;
}

.column-droppable-area {
    overflow-y: visible;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.column-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    background: white;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}